@model VLO.Models.Lanche

@{
    ViewBag.Title = "Detalhe de Lanche";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Detalhe de Lanche</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.LancheNome, "Lanche:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LancheNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdLanche }) |
    @Html.ActionLink("Voltar", "Index")
</p>
