@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Venda de Lanches</h1>
    <p class="lead">Somos uma startup do ramo de alimentos e precisamos de uma aplicação web para gerir nosso negócio. Nossa especialidade é a venda de lanches, de modo que alguns lanches são opções de cardápio e outros podem conter ingredientes personalizados.</p>
</div>

<div class="row">
    <h2>Promoções</h2>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Promoção</th>
                <th>Regra de Negócio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Light</td>
                <td>Se o lanche tem alface e não tem bacon, ganha 10% de desconto.</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Muita carne</td>
                <td>A cada 3 porções de carne o cliente só paga 2. Se o lanche tiver 6 porções, ocliente pagará 4. Assim por diante...</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Muito queijo</td>
                <td>A cada 3 porções de queijo o cliente só paga 2. Se o lanche tiver 6 porções, ocliente pagará 4. Assim por diante...</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Inflação</td>
                <td>Os valores dos ingredientes são alterados com frequência e não gastaríamos que isso influenciasse nos testes automatizados.</td>
            </tr>
        </tbody>
    </table>

</div>